.travel-text {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-size: 24px;
  }
}

.mapbox {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .map-container {
    height: 75%;
    width: 75%;
  }
}

.programming-text {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-size: 24px;
  }
}

.about-me-title {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  svg {
    font-size: 80px;
  }
  h1 {
    font-size: 80px;
  }
}

.marker {
  background-image: url('../images/mapbox-icon.png');
  background-size: cover;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.hobbies-title {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  svg {
    font-size: 80px;
  }
  h1 {
    font-size: 80px;
  }
}

.images {
  padding-top: 10%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .images-grid {
    height: 90%;
    width: 90%;
    padding-top: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    img{
      width: 100%;
      height: inherit;
      background-position: center;
      object-fit: cover;
      border: 1.5px solid white;
    }
  }
}

.page-navigation {
  position: fixed;
  margin-top: -96px;
  top: 50%;
  right: 24px;
  display: flex;
  flex-direction: column;
  svg {
    cursor: pointer;
    margin-bottom: 16px;
    color: rgb(220,206,229);
    &:hover {
      color: rgb(184,156,201);
    }
  }
}

.hidden {
  opacity: 0;
  transition: opacity 1s;
}

.fade-in-element {
  animation: fade-in 1s;
}


@keyframes fade-in {
    0% {opacity: 0; transform: scale(.7,.7)}
    100% {opacity: 1;}
}

@keyframes fade-put {
    0% {opacity: 1; }
    100% {opacity: 0;}
}
