.my-avatar {
  background-image: url('../images/avatar.png');
  background-position: center;
  background-size: cover;
  margin: auto;
  margin-top: 15%;
  margin-bottom: 32px;
  border-radius: 50%;
  width: 240px;
  height: 240px;
}

@media (max-height: 799px) {
  .my-avatar {
    margin-top: 10%;
    margin-bottom: 24px;
  }
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px) {
    .my-avatar {
      margin: 0;
    }
}
