.content-container {
  background-color: hsl(274,28%,94%);
  position: absolute;
  padding: 16px;
  // padding-top: 0px;
  right: 0;
  top: 0;
  width:75%;
  height: 100%;
  overflow: scroll;
  z-index: -1;
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px) {
    .content-container {
      width: 98%;
      height: 83%;
      top: 15%;
    }
}
