.project-show {
  padding-top: 32px;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 1.5s ease-out;
  .project-heading {
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 16px;
    justify-content: space-between;
    .project-role {
      padding-left: 18px;
    }
  }
  .project-body {
    display: flex;
    .project-image {
      width: 640px;
      height: 400px;
      background-position: center;
      background-size: cover;
    }
    .project-description {
      padding-left: 16px;
    }
  }

}

.project-show.active {
  opacity: 1;
  height: auto;
}
