.project-card {
  display: flex;
  background-position: center;
  background-size: cover;
  border: 1.5px solid white;
  filter: grayscale(1);
  .project-title {
    padding: 8px;
    margin-top: 16px;
  }
  h1 {
    display: none;
    font-size: 100px;
    color: rgb(240, 240, 240);
  }
  &:hover {
    filter: none;
    h1 {
      display: block;
    }
  }
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .project-card {
      filter: none;
      h1 {
        display: block;
      }
    }
}
