.project-show {
  padding-top: 32px;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 1.5s ease-out;
  .project-heading {
    display: flex;
    padding-left: 8px;
    padding-bottom: 16px;
    .project-role {
      padding-left: 18px;
    }
  }
  .project-image {
    width: inherit;
    height: 480px;
    background-position: center;
    background-size: cover;
  }
}

.project-show.active {
  opacity: 1;
  height: auto;
}
