@import "avatar";
@import "navbar";
@import "container";
@import "banner";
@import "project-card";
@import "project-cards";
@import "project";
@import "about";

body {
  overflow-x: hidden;
  font-family: Helvetica;
  background-color: hsl(274,28%,94%);
  a {
    color: #333;
    &:hover {
      text-decoration: none;
      color: #222;
    }
  }
}

#root {
  overflow-x: hidden;
}
